services:
  react:
    container_name: chat-crm-app-react
    build:
      context: ..
      dockerfile: ./Dockerfile
      target: dev
    ports:
      - "5173:5173"
    volumes:
      - ..:/app
      - node_modules:/app/node_modules
    environment:
      - NODE_ENV=development
    command: ["npm", "run", "dev"]

volumes:
  node_modules: